:root {
    --first-color: white;
    --second-color: black;
    --third-color: #D3D3D3;
    --fourth-color: #333333;
}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed__writeBlog {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--first-color);
    padding:1rem;
    border-radius: 0.5rem;
}

.feed__writeBlog > .MuiSvgIcon-root {
    color: yellow;
    font-size: xx-large;
    padding: 0.5rem;
}

.feed__writeBlog>a {
    text-decoration: none;
    color: var(--second-color);
    padding: 0.5rem;
    background-color: var(--third-color);
    border-radius: 0.5rem;
    flex: 1;
}