:root {
    --first-color: white;
    --second-color: black;
    --third-color: #D3D3D3;
    --fourth-color: #333333;
}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
