:root {
    --first-color: white;
    --second-color: black;
    --third-color: #D3D3D3;
    --fourth-color: #333333;
}

.createBlog {
    display: flex;
    flex-direction: column;
    background-color: var(--first-color);
    width: 700px;
    margin: 5vh auto 0px auto;
    box-shadow: 0px 7px 5px -7px rgba(0, 0, 0, 0.75);
}

.createBlog__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--third-color);
}

.createBlog__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0px;
}

.createBlog__userInfo {
    display: flex;
    flex-direction: column;
}

.createBlog__userInfo>h4 {
    margin: 0px;
}

.createBlogInfo--icon {
    font-size: xx-large;
    margin-inline-start: 1rem;
    padding: 1rem;
}

.createBlog__input {
    display: flex;
    flex-direction: column;
}

.input--blog {
    border: none;
    outline: none;
    padding: 2rem;
    height: 60vh;
    border-bottom: 1px solid var(--third-color);
    border-top: 1px solid var(--third-color);
}

.createBlog__button>input {
    border: none;
    outline: none;
    background-color: var(--third-color);
    border-radius: 999px;
    padding: 0.8rem;
    box-sizing: border-box;
    width: 70%;
    margin: auto;
}

.createBlog__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.button--input {
    background-color: var(--third-color);
    padding: 0.5rem 2rem;
    font-size: large;
    border-radius: 0.5rem;
    margin: 1rem auto;
    width: 70%;
    border: 1px solid var(--third-color);
    outline: none;
}

.button--input:hover {
    background-color: rgb(239, 239, 239);
}