@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
    --primary-color: black;
    --secondary-color: #FFD700;
    --hover-color: #444950;
    --background-gray1: #F2F3F5;
    --backdround-gray2: #EBEDF0;
    --background-gray3: #CCD0D5;
}

.Home-body {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

.container {
    border: 2px solid var(--secondary-color);
    padding: 0.5rem;
    float: left;
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.container-side {
    width: 25%;
    padding: 1.5rem 2rem;
}

.container-centre {
    width: 50%;
}

.Home-body::after {
  content: "";
  display: table;
  clear: both;
}

.displayBlog-heading {
    text-align: center;
    background-color: var(--backdround-gray2);
    border-radius: 0.5rem;
    padding: 0.5rem 0px;
}

.blog-heading {
    margin: 0px;
    padding: 0.5rem 0px 0.5rem 0px;
}

.blog-Para {
    text-align: justify;
    margin: 0px;
}

.display-blog {
    background-color: var(--backdround-gray2);
    height: 200px;
    overflow-y: hidden;
    overflow: auto;
    margin: 1.3rem 0px;
    padding: 0.5rem;
    border-radius: 0.5rem;
}