.leftsidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
}

.leftsidebar__blogContainer {
    display: flex;
    flex-direction: column;
}

.leftsidebar__heading {
    margin-top: 7vh;
}