.Login {
    background-image: url("./images/loginImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10vh 0vh;
}

.Login__logo {
    background-color: black;
    color: #FFD700;
    padding: 1rem;
    font-size: xx-large;
    border-radius: 0.5rem;
}

.Login>h2 {
    color: #FFD700;
}

.Login>button {
    padding: 0.5rem 2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    color: #FFD700;
    background-color: black;
    font-size: large;
    margin-top: 15vh;
}
