@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
    --first-color: white;
    --second-color: black;
    --third-color: #D3D3D3;
    --fourth-color: #333333;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--first-color);
    box-shadow: 0px 2px 0px #D3D3D3;
    max-height: 70px;
    position: sticky;
    top: 0;
}

.header__left {
    display: flex;
    justify-content: space-evenly;
    margin-inline-start: 4rem;
    box-sizing: border-box;
    padding: 0px 1rem;
}

.header__searchIcon {
    padding: 0.5rem;
}

.header__searchfield {
    background-color: var(--third-color);
    vertical-align: middle;
    border-radius: 999px;
    margin: 1rem 1rem 1rem 2rem;
    box-sizing: border-box;
}

.header__input {
    background-color: transparent;
    outline-width: 0;
    border: none;
    padding: 0px 0.5rem;
}

.header__heading {
    text-decoration: none;
    color: var(--second-color);
    font-size: x-large;
    font-weight: bold;
    padding: 1rem;
}

.header__icontable {
    display: flex;
    justify-content: space-evenly;
    margin-inline-end: 8rem;
    box-sizing: border-box;
}

.header__lists {
    list-style: none;
}

.header__icons {
    color: var(--fourth-color);
    padding: 1rem;
    margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
    .header__left {
        margin-inline-start: 1rem;
    }

    .header__searchfield {
        display: flex;
        flex-direction: row;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .header__right {
        background-color: var(--third-color);
    }
}
